{% extends "layout.html" %}
{% block title %}Donate{% endblock %}
{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/img/boston-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Donate</h1>
          <span class="subheading">Join me in reaching students</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>
        In order to minister to students, I continue to rely on God's gracious and abundant provision, both spiritually and materially. I invite you to participate in the spread of the Gospel in Boston by helping supply these needs through prayer and giving.
      </p>
      <p>
        I always appreciate your prayers for this ministry, the CCO, the students of Northeastern & Wentworth, and for me. If you'd like more specific prayer requests, <a class="link-green" href="/about#contact">let me know</a> and I'll keep you updated.
      </p>
      <p>
        If you'd like to partner with me through financial support, you can give online by clicking the button below, or by sending gifts to:
      </p>
      <p>
        CCO, 5912 Penn Avenue
        <br>
        Pittsburgh, PA 15026
      </p>
      <em>Make checks payable to "CCO" with "Austin Kilduff" on the memo line.</em>
      <p>Feel free ask any questions and learn more about giving by <a class="link-green" href="/about#contact">getting in touch with me</a>.
      </p>
      <p>
        <a class="button btn btn-primary btn-right" href="https://ccojubilee.org/akilduff">Donate</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
